<script
  type="text/javascript"
  src="https://app.termly.io/embed.min.js"
  data-auto-block="on"
  data-website-uuid="5bccbc93-398e-459e-a9ec-4e634915b198"
  >
</script>
<link rel="manifest" href="/manifest.json">
<meta http-equiv="origin-trial" content="AluFifc4I8boDRwBNgKEG1voQgZyxXBTiXPMnjBREHkaYnuLrRFo+cP+pjnfGJzUIfv21hs5mDBUurQCrB9tWcAAAAB4eyJvcmlnaW4iOiJodHRwczovL2R5bmFtaWNkaWdpdGFsd29ybGQuY28udWs6NDQzIiwiaXNTdWJkb21haW4iOmZhbHNlLCJmZWF0dXJlIjoiV2ViQXBwVXJsSGFuZGxpbmciLCJleHBpcnkiOjE2NTI5MTg0MDB9">
<script type="module">
  import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';
  const el = document.createElement('pwa-update');
  document.body.appendChild(el);
</script>
<button
  class="termly-cookie-preference-button"
  type="button"
  style="background: white; width: 165px; height: 30px; border-radius: 3px; border: 1px solid #5f7d9c; font-family: Roboto, Arial; font-size: 10px; color: #5f7d9c; font-weight: 600; box-sizing: border-box; cursor: pointer; padding: 0; outline: none;"
  onclick="displayPreferenceModal()"
>
    Manage Cookie Preferences
</button>
  
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K753RQ0V2X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-K753RQ0V2X');
</script>

<!-- Clarity tracking code for https://dynamicdigitalworld.co.uk/ -->
<script>
  (function(c,l,a,r,i,t,y){
      c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
      t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i+"?ref=bwt";
      y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
  })(window, document, "clarity", "script", "803x9wz2ya");
</script>

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
